<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- 안드로이드 13 이상 알림 권한 -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.ParentApp">

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:label="@string/app_name"
            android:theme="@style/Theme.ParentApp">>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 로그인 액티비티 -->
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:theme="@style/Theme.ParentApp"> />

        <!-- 결제 화면 액티비티 -->
        <activity
            android:name=".PaymentActivity"
            android:exported="false"
            android:theme="@style/Theme.ParentApp"> />

        <!-- 결제 상세 액티비티 추가 -->
        <activity
            android:name=".ReceiptDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.ParentApp"> />

        <service
            android:name=".MyFirebaseMessagingService"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

    </application>
</manifest>
